.search-menu-wrapper_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 165px;


  button {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: lighter;

  }
}