.search-menu__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;

}